* {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
body {
  background-image: url("./Bgall.jpg");
}
header {
  position: fixed;
  margin: -5px -20px 0 -20px;
  height: 226px;
  width: 103%;
  z-index: 4;
}
#bgcolor {
  /*position: absolute;
  margin: -40px -20px 0 -20px;
  height: 226px;
  width: 103%;*/
  background-image: url("./bgheader2.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 236px;
  z-index: 4;
  -webkit-filter: blur(15px);
  filter: blur(0px) sepia(20%) opacity(80%) invert(0%) opacity(100%);
  bottom: 10px;
}
#bgcolor1 {
  /*position: absolute;
  margin: -40px -20px 0 -20px;
  height: 226px;
  width: 103%;*/
  background-color: rgba(255, 191, 0, 1);
  background-size: 100% auto;
  z-index: 3;
  height: 226px;
  bottom: 236px;
}
h1.logo {
  font-size: 60px;
  color: rgb(171, 20, 0);
  font-family: Monoton;
  font-weight: 700;
  margin-bottom: 0;
  max-width: 100%;
  min-width: 8.5%;
  left: 3%;
  bottom: 462px;
  z-index: 5;
}
h5.logo{
  color: white;
  font-size: 160%;
  font-family: sans-serif;
  letter-spacing: 1.45em;
  margin-top: 0;
  max-width: 70%;
  min-width: 8.5%;
  left: 3%;
  bottom: 462px;
  z-index: 5;
}
div.realbody {
  top: 220px;
}
/*div.nav {
  position: absolute;
  right: 2%;
  top: 15px;
}*/
div#nav5 {
  position: absolute;
  right: 60px;
  top: 27%;
  z-index: 5;
}
div#nav4 {
  position: absolute;
  right: 170px;
  top: 27%;
  z-index: 5;
}
div#nav3 {
  position: absolute;
  right: 280px;
  top: 27%;
  z-index: 5;
}
div#nav2 {
  position: absolute;
  right: 390px;
  top: 27%;
  z-index: 5;
}
div#nav1 {
  position: absolute;
  right: 500px;
  top: 27%;
  z-index: 5;
}
object.nav:hover{
  font-size: 140%;
}
object.nav {
  color: white;
  font-family: 'Patua One', cursive;
  font-size: 115%;
  margin-right: 10px;
}
#bgcolorfoot {
  position: relative;
  bottom: 0px;
  margin: 20px -20px -40px -20px;
  height: 100px;
  width: 103%;
  background-color: #342700;
  background-size: 100% auto;
  z-index: 0;
}
div.captionTeam {
  top: 30px;
  margin-top: 5px;
  margin-left: 10%;
  margin-right: 10%;
  border-style: solid;
  border-width: medium;
  border-color: black;
  height: 400px;
  width:80%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
div.riIma {
  position: absolute;
  right: 2.5%;
  bottom: 3%;
  float: right;
  max-width: 687px;
  max-height: 372px;
}
div.riIma2 {
  position: absolute;
  right: 2.5%;
  bottom: 3%;
  float: right;
}
div.leIma {
  max-width: 687px;
  max-height: 372px;
  position: absolute;
  float: left;
  left: 2.5%;
  bottom: 3%;
  z-index: 0;
}
div.leIma2 {
  position: absolute;
  left: 2%;
  float: left;
  bottom: 3%;
}
.captionLeft {
  margin: 10% 5%;
  max-width: 40%;
  font-family: 'Patua One';
  font-size: 200%;
}
img.imRight {
  filter: grayscale(100%) invert(100%);
  max-width: 687px;
  max-height: 372px;
  }
.captionRight {
  margin: 8% 5% 8% 55%;
  max-width: 60%;
  font-family: 'Patua One';
  font-size: 175%;
  z-index: 0;
  overflow: scroll;

}
div.captionTeam2 {
  top: 30px;
  margin-top: 5px;
  margin-left: 10%;
  margin-right: 10%;
  border-style: solid;
  border-width: medium;
  border-color: black;
  height: 400px;
  width:80%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
img.imLeft {
  filter: grayscale(100%) invert(100%);
  max-width: 700px;
  max-height: 380px;
}

img.imRight:hover, img.imLeft:hover {
  filter: grayscale(0%);
}
img#im1:hover {

}
a.hometitle {
  color: rgb(102, 2, 2);
}
div.footer {
  bottom: -220px;
}
footer h6 {
  bottom: -200px;
  text-align: center;
  color: white;
  font-family: 'Patua One';
  letter-spacing: 0.4em;
}
